body{
    margin: 0;
    padding: 0;
    background-color: rgb(221, 221, 217); 
}

#header{
    display: flex;
    align-items: end;
    background: linear-gradient(90deg, #5174d5, #60A5FA);  
    padding: 1em;
}

#welcomeMessage{
    flex-grow: 1;
    margin-left: 4%;
    font-size: 2.5em;
}

#loginButton{
    align-self: flex-end;
    font-size: 1em;
    width: 150px;
}

#text1{
    text-align: center;
    font-size: 2.5em;
}

#content{
    border: 5px solid;
    display: grid;
    padding-left: 25%;
    padding-right: 25%;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.module{
    border: 2px solid #5174d5;
    padding: 3em;
    margin: 30px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    text-wrap: wrap;
}

img{
    width: 300px; 
    height: auto;
}

img:hover{
    transform: scale(1.1);
}